[submodule "fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/readerwriterqueue"]
	path = fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue/tree/211616e0554f93152ab3108b8d93fbc23174a9d9
[submodule "fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/sockpp"]
	path = fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/sockpp
	url = https://github.com/fpagliughi/sockpp/tree/afdeacba9448c7a77194eed6ab8e1c0b1653c79a
[submodule "fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/reflect-cpp"]
	path = fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/reflect-cpp
	url = https://github.com/getml/reflect-cpp/tree/2a0fdeabe35bdab0e07e05d4f869ca88bd6d2b8c
[submodule "fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/yaml-cpp"]
	path = fanuc_driver_ros2_1.0.0/fanuc_driver/fanuc_libs/dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/tree/2f86d13775d119edbb69af52e5f566fd65c6953b
